body {
    background-image: url('./images/Penn-Station.jpg');
    background-color: rgb(116, 107, 107);
}

.card {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.jumbotron {
    background: rgb(177, 177, 177);
    font-family: 'Times New Roman', Times, serif;
    
}

h1 {
    font-size: 75px;
    font-weight: bold;
    color: rgb(0, 23, 71);
        
}

.card-header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 15px;
    background-color: rgb(2, 2, 58); 
    
}

.btn {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    background-color: rgb(2, 2, 58); 
}

